[2020-06-11 19:58] nukeador opened #578 "Events language link issue"
On https://community.mozilla.org/events/gabfest-s0e1-localisation/

Sidebar link to "English" links to https://community.mozilla.org/events/?language=en

Which is displaying events on all languages.

[2020-06-11 20:09] nukeador opened #579 "Mozilla Discourse field removed when editing your profile"
1. Go to your profile and edit it
2. Add a username under Mozilla Discourse
3. Save your profile
4. Edit your profile again

The discourse field is empty and will be saved empty. We should check this is not also happening to other fields.

[2020-06-11 23:30] dnaluz commented on #579
PR https://github.com/mozilla/community-portal/pull/580

[2020-06-15 14:57] #579 closed

[2020-06-15 21:35] MichaelKohler opened #581 "Attended Events sorted wrongly"
It all seemed to be sorted correctly, until I marked myself attending an event today, which is now shown at the bottom of the list.

![image](https://user-images.githubusercontent.com/330324/84708489-26b71a80-af50-11ea-83ba-4bb87473743d.png)

See also #575

[2020-06-18 19:23] MichaelKohler opened #585 "Show end date on event tile"
https://community.mozilla.org/events/respond-tool-campaign-help-us-file-bugs is running until June 30th. I think it would be great if that was indicated in the event tile:

![image](https://user-images.githubusercontent.com/330324/85063151-3bd2ba00-b199-11ea-8f6b-7141b20a63b1.png)

[2020-06-22 14:23] dnaluz commented on #484
Fixed

[2020-06-22 14:23] #484 closed

[2020-06-22 14:24] dnaluz commented on #499
Fixed

[2020-06-22 14:24] #499 closed

[2020-06-22 14:25] #464 closed

[2020-06-22 15:48] #236 closed

[2020-06-22 16:15] #94 closed

[2020-06-22 17:59] #209 closed

[2020-06-22 18:04] #89 closed

[2020-06-22 18:09] dnaluz opened #587 "Tag filter people page broken"

[2020-06-22 18:11] #203 closed

[2020-06-22 18:11] #187 closed

[2020-06-22 18:12] #194 closed

[2020-06-22 18:12] #205 closed

[2020-06-22 18:15] #214 closed

[2020-06-22 18:16] #216 closed

[2020-06-22 18:16] #219 closed

[2020-06-22 18:17] #220 closed

[2020-06-22 18:17] #227 closed

[2020-06-22 18:18] #234 closed

[2020-06-22 18:19] #245 closed

[2020-06-22 18:20] #246 closed

[2020-06-22 18:20] #247 closed

[2020-06-22 18:22] #260 closed

[2020-06-22 18:22] #262 closed

[2020-06-22 18:28] #341 closed

[2020-06-25 16:36] ranjithrajv commented on #240
Why is this issue closed? The work is still pending.

[2020-07-02 08:14] Mte90 commented on #487
Any updates for this? we are working on our community websites and is not possible to get the list of events.

[2020-07-03 10:12] atiqueahmedziad opened #599 "Not able to login with exisiting account"
## Problem
I have an account at the community portal with username: `atiqueahmedziad`. Currently, when I am trying to login to my account with Google/ Github/ Firefox or even through email, it's showing an error with the following message - `There was a problem with your log in: There is a user with the same email. [error code: unknown]`
### Screenshot
<img width="958" alt="Screenshot 2020-07-02 a

[2020-07-03 10:20] nukeador commented on #599
Thanks for reporting. Do you remember when you registered your account, which option did you use? (email, FxAccount...)

Cheers.

[2020-07-03 11:04] atiqueahmedziad commented on #599
I don't clearly remember that but most probably I had used Google to register. I am using this email - `softfilebd@gmail.com`.

[2020-07-03 13:53] dnaluz commented on #599
@atiqueahmedziad

Can you try logging in again please.

[2020-07-03 14:38] atiqueahmedziad commented on #599
Just tried again, still have the same problem :-(

[2020-07-03 15:23] nukeador opened #600 "Staging: Copy from English on activities doesn't copy all the blocks"
I went into one activity and added Spanish as a new language, when I click on copy from English content, only the title and description is copied, not the rest of the blocks.

![imagen](https://user-images.githubusercontent.com/531906/86482183-bc74e700-bd51-11ea-806b-24126b1e1c15.png)

1. Go to https://mozportalstage.wpengine.com/wp-admin/post-new.php?lang=es&post_type=activity&trid=465&source_lan

[2020-07-03 17:08] #587 closed

[2020-07-06 12:06] nukeador opened #601 "Remove locale code from mozilla.org links"
Footer links to mozilla.org shouldn't have /en-US/ on the URL to allow language detection on destination.

Same applies if we have other mozilla.org links on other places of the site.

[2020-07-06 12:16] ffissore opened #602 ""Add to calendar" button"
It would be nice to have a "add to calendar" button so that I can have an event listed on my calendar with a click, instead of copy-pasting text, and schedule, and description

[2020-07-06 15:17] kycapstick commented on #600
If you select "Overwrite with English content" instead of "Copy Content from English" it will pull everything over from the English Activity. Once everything has copied over, you can update them independently of each other.

[2020-07-06 17:08] Francescaminelli opened #603 "Cannot add featured events for campaign in Staging"
This is in the Staging vebsite.
I cannot add a featured event to the "The bestest campaign" Spanish translation. If I select "Overwrite with English content" it adds the same events as in the English version. However, I cannot see a drop-down list of other events that I can add, while I can see that in the English version

[2020-07-08 19:51] ohiogeek8215 commented on #602
👍

[2020-07-09 15:06] #601 closed

[2020-07-09 15:07] #600 closed

[2020-07-09 15:15] davesenior commented on #577
fix on staging. Coming soon in production push

[2020-07-09 15:16] davesenior commented on #576
fixed on staging. Production push soon.

[2020-07-09 15:17] davesenior commented on #563
Fixed on staging.

[2020-07-09 15:17] #563 closed

[2020-07-09 15:18] #480 closed

[2020-07-09 15:19] #422 closed

[2020-07-09 15:22] #401 closed

[2020-07-09 15:22] davesenior commented on #399
Fixed.

[2020-07-09 15:22] #399 closed

[2020-07-09 15:24] #343 closed

[2020-07-09 15:24] #300 closed

[2020-07-13 12:26] nukeador opened #607 "Footer Creative Common License missing link"
The link on the footer to "Creative Commons license" doesn't link anywhere.

It should link to: https://www.mozilla.org/foundation/licensing/website-content/

[2020-07-15 10:19] nukeador opened #612 "Links to events in one language not working"
1. Go to an event with a preferred language such as https://community.mozilla.org/events/charla-de-webassembly-en-conjunto-con-mozilla-chile/
2. Click on the sidebar Spanish
3. You get directed to https://community.mozilla.org/events/?language=es
4. Events are not properly filtered.

[2020-07-15 10:20] nukeador opened #613 "Link to events tag not working"
1. Go to an event with a tag such as https://community.mozilla.org/events/charla-de-webassembly-en-conjunto-con-mozilla-chile/
2. Click on the sidebar Evangelizing & Teaching
3. You get directed to https://community.mozilla.org/events/?tag=Evangelizing%20&%20Teaching
4. Events are not properly filtered.

[2020-07-15 14:07] dnaluz commented on #612
This works on staging.

[2020-07-15 14:21] kycapstick commented on #613
The issue here is with the & in the tag. I believe we'd moved to using "and" instead.

[2020-07-15 17:40] siddhartharao17 opened #616 "Getting a WordPress login page instead of SSO for Community Portal login"
Hi Community Portal team,

When I hit the "Log In/Sign Up" button to login to the community portal on https://community.mozilla.org/ , I get redirected to the below WordPress login page - https://community.mozilla.org/wp-login.php?action=login - instead of the regular Mozilla SSO page. This is new and seems unusual because earlier I used to get the SSO login page.

Has something changed and is thi

[2020-07-15 18:03] MichaelKohler commented on #616
I'm seeing the same. This completely breaks the Community Portal.

[2020-07-16 10:55] MichaelKohler commented on #616
This seems to be fixed now.

[2020-07-16 20:52] kycapstick commented on #603
A fix for this has been pushed to staging.

[2020-07-16 20:52] #603 closed

[2020-07-16 20:54] kycapstick commented on #578
A fix for this has been pushed to staging, and will be part of upcoming push to production

[2020-07-16 20:54] #578 closed

[2020-07-17 15:03] nukeador opened #626 ""View all attendees" not expanding"
On https://community.mozilla.org/en/events/gabfest-s0e1-localisation/

Clicking on "View all attendees" does nothing.

[2020-07-17 15:06] #616 closed

[2020-07-17 15:37] kycapstick commented on #107
Fixed

[2020-07-17 15:37] #107 closed

[2020-07-17 15:38] kycapstick commented on #612
Fixed on production.

[2020-07-17 15:38] #612 closed

[2020-07-17 15:48] kycapstick commented on #577
Fixed in production

[2020-07-17 15:48] #577 closed

[2020-07-17 15:52] kycapstick commented on #576
Fixed in production

[2020-07-17 15:52] #576 closed

[2020-07-17 16:02] kycapstick commented on #420
Fixed in staging. Will now redirect to homepage as auth0 login does not allow us to track users original location.

[2020-07-17 16:08] kycapstick commented on #626
FIxed

[2020-07-17 16:08] #626 closed

[2020-07-17 16:08] kycapstick commented on #607
Fixed

[2020-07-17 16:08] #607 closed

[2020-07-17 16:09] kycapstick commented on #574
Fixed

[2020-07-17 16:09] #574 closed

[2020-07-17 16:10] kycapstick commented on #421
Fixed

[2020-07-17 16:10] #421 closed

[2020-07-17 16:17] #56 closed

[2020-07-17 16:47] nukeador commented on #299
"I will attend" and "I won't attend" seems good for a change.

[2020-07-20 12:26] nukeador opened #630 "URLs with not latin chars are not properly displayed on events"
See https://community.mozilla.org/en/events/how-you-can-build-your-first-vr-experience-during-times-of-social-distancing/

The event link has some unicode chars that are not property displayed.

[2020-07-20 12:29] nukeador opened #631 "Group events listing should differentiate from past and upcoming"
Going to https://community.mozilla.org/groups/mozilla-reps/?view=events

All event are listed and the older ones are first. This is not really helpful.

We would need a way to differentiate past events from upcoming ones, and listing should be from newer to older (not the other way around).

Thanks!

[2020-07-20 12:31] nukeador commented on #631
Maybe a quick solution would be to order the even listing from upcoming to past and draw a line before the past events, for visual clarity.

[2020-07-20 13:08] nukeador opened #632 "Share feature should not expose language code"
To avoid people sharing pages only in their own language, the links generated by any sharing function on the portal should avoid adding the locale code in the URL.

[2020-07-20 17:00] jveens commented on #630
@nukeador I couldn't find any examples of text inputs that support inputting these types of characters. It's very common for the output of URLS to be encoded in this way.
Even if I try to copy and past the original external link with the non-latin characters into this textarea on GitHub, it gets encoded in the exact same way.

To fix things looking too weird on the front-end, I've submitted a PR w

[2020-07-20 17:28] #630 closed

[2020-07-21 13:19] nukeador opened #635 "Newsletter missing on /campaigns"
The newsletter form is not displayed on https://community.mozilla.org/campaigns/

It's present on stage.

[2020-07-21 13:21] nukeador commented on #635
If you're logged in and have previously completed the form it doesn't show up

[2020-07-21 13:21] #635 closed

[2020-07-21 15:07] #463 closed

[2020-07-21 18:33] kycapstick commented on #613
Fixed on staging

[2020-07-21 18:33] #613 closed

[2020-07-22 10:57] nukeador opened #636 "Links with /en-US/"
When joining a campaign as a non-logged used you have a form with a link to the privacy policy:

https://mozportalstage.wpengine.com/es/campaigns/playground-test-campaign/

The link points to https://www.mozilla.org/en-US/privacy/
Instead of https://www.mozilla.org/privacy/

On the registration form we also have

https://www.mozilla.org/en-US/about/governance/policies/participation/ → https://www.

[2020-07-22 10:59] nukeador commented on #286
Let's change the copy to the one suggested.

Thanks!

[2020-07-22 11:02] #63 closed

[2020-07-22 11:07] #321 closed

[2020-07-22 11:08] #275 closed

[2020-07-22 11:10] #177 closed

[2020-07-22 11:13] nukeador commented on #111
This is now "Recent Events" and "Organized Events"

[2020-07-22 11:13] #111 closed

[2020-07-22 11:14] nukeador commented on #102
First name is no longer pre-populated

[2020-07-22 11:14] #102 closed

[2020-07-22 12:47] nukeador opened #637 "Is mapbox working?"
On https://community.mozilla.org/en/events/fryske-common-voice-ynsprekwike/

Mapbox seems empty

![imagen](https://user-images.githubusercontent.com/531906/88178160-3cdc8880-cc2a-11ea-8b64-6c124339254b.png)

[2020-07-22 15:11] kycapstick commented on #637
Looks like it's an issue with the security headers that have been added. I'm getting this error in the console:

[2020-07-23 14:56] kycapstick commented on #286
@nukeador the cancel button starts the process of fully deleting the event. Would it make more sense to change this copy to "Delete Event"? We use "Delete Profile" on the profile edit page.

[2020-07-23 15:45] davesenior commented on #286
Use delete event

[2020-07-24 13:51] kycapstick commented on #535
@nukeador do we have a link for this?

[2020-07-24 16:37] nukeador commented on #535
Let's link to https://wiki.mozilla.org/IAM/Frequently_asked_questions

[2020-07-27 13:31] #636 closed

[2020-07-27 13:32] #632 closed

[2020-07-27 13:32] #535 closed

[2020-07-27 13:33] #537 closed

[2020-07-27 13:33] #419 closed

[2020-07-27 13:33] #347 closed

[2020-07-27 15:33] #346 closed

[2020-07-27 15:33] #342 closed

[2020-07-27 15:33] #299 closed

[2020-07-27 15:34] #286 closed

[2020-07-27 15:34] #132 closed

[2020-07-27 15:35] kycapstick commented on #631
Added fix to sort group events in reverse chronological order.

[2020-07-27 15:55] #631 closed

[2020-07-27 15:57] kycapstick commented on #496
All updates have been made on staging with the exception of the second close button on the share modal.

[2020-07-27 15:57] #496 closed

[2020-07-28 13:49] Francescaminelli opened #659 "Campaigns order in the campaign page"
Past campaigns appears in a random order in the community portal campaigns page, instead than in a chronological order.

![image](https://user-images.githubusercontent.com/58478550/88674160-c63c0100-d0e9-11ea-89dd-63a24521d00c.png)

[2020-07-29 12:56] nukeador commented on #659
@kycapstick is this an easy fix?

[2020-07-29 12:59] nukeador commented on #521
This seems to be solved now.

[2020-07-29 12:59] #521 closed

[2020-07-29 13:00] nukeador commented on #351
All fields are confirmed to be localizable now. Please reopen if it's not the case.

[2020-07-29 13:00] #351 closed

[2020-07-29 13:03] nukeador commented on #172
This was solved.

[2020-07-29 13:03] #172 closed

[2020-07-29 13:06] Mte90 commented on #351
Looking at the code it isn't true.
As the ticket JSON files https://github.com/mozilla/community-portal/tree/master/acf are still there and the only code mention is the reading of this data https://github.com/mozilla/community-portal/search?q=primary_cta_copy&unscoped_q=primary_cta_copy
So the ACF fields wasn't migrated to php code as the ticket suggest.
Also https://github.com/mozilla/community-p

[2020-07-29 15:05] kycapstick commented on #659
Super quick fix.

[2020-07-29 17:13] nukeador commented on #351
We have been doing tests on stage with Spanish language and we are able to localize every string displayed on the frontend, by the po file for UI, or WP-admin panel for menus and content.

Fields on the wp-admin panel don't need to be localized since it will be only used by Community Manangers.

Po files are empty until we integrate them with pontoon int he coming month.

[2020-07-30 08:22] Mte90 commented on #351
As I can see from this code just the string in frontend can be localized https://github.com/mozilla/community-portal/search?q=%22community-portal%22&unscoped_q=%22community-portal%22&type=Code not ACF fields as this ticket was created for.
So maybe the website is not fully localizable as today.

[2020-07-30 10:47] nukeador commented on #351
Custom fields for campaigns and activities are localized from the wp-admin via WPML and the are confirmed to work.

[2020-07-30 10:50] Mte90 commented on #351
So this ticket at the end wasn't satisfied and for me cannot be closed because the issue persist.
The proposal was to convert all the JSON fields in PHP code so was possible to localize with po/mo like the rest of the template and this is not happening.
To localize now there are 2 ways one inside the backend that is manual and another one that is using po/mo.

As I wrote above now the database dum

[2020-07-30 14:52] nukeador commented on #351
Sorry I still don't understand what's missing. Can you provide an example on what can't be localized right now? I don't understand why this change is needed if we already can localized everything.

Please see https://mozportalstage.wpengine.com/es/ there is nothing left in English there (ignore the strings, they are just placeholders for testing and shouldn't not represent a proper Spanish localiz

[2020-07-30 15:33] #659 closed

[2020-07-30 15:38] Mte90 commented on #351
I am not saying that is not localized now, I am saying that the purpose of this ticket wasn't achieved.

The ticket say to convert all the ACF fields from JSON to php code but this didn't happened -> https://github.com/mozilla/community-portal/tree/master/acf

Also, as this localization is not happening in files https://github.com/mozilla/community-portal/tree/master/languages but inside the backe

[2020-07-31 11:46] nukeador commented on #351
Yes, we know menus and campaigns/activities content will be localized from the wp-admin. The rest will be on the po file that we will connect with pontoon.

The team agreed that we are OK with this limitation and for now we won't be able to make any additional changes to the site features. We'll see if during the rest of 2020 we get some bandwidth to evaluate how to enable external contributions.

[2020-08-13 20:22] cseas opened #664 "[Bug] Searching Reps by region"
I'm not sure about the other Community Portal groups but I believe at least in the Mozilla Reps group, everyone should be available in the search results when we filter by location so we can find Reps in our region.

As an example, the below link should show all Reps in India but only shows a couple few:
https://community.mozilla.org/en/groups/mozilla-reps/?view=people&country=IN

My intuition is

[2020-08-15 11:43] MichaelKohler opened #665 "How does the search work?"
I've searched for "Prathamesh", but I'm seeing a lot of results that I have no idea why they match my search: https://community.mozilla.org/en/?s=prathamesh&page=1 . There are 6 pages of results, with the first Prathamesh showing up on page 3.

How does this work? Can this somehow be improved?

![image](https://user-images.githubusercontent.com/330324/90311633-7a13fd80-deec-11ea-8d3b-6091488c79b5.

[2020-08-28 14:07] srishti-nema opened #666 "How to add past events?"
There should be a possible way to add past events conducted under a group on the portal. I tried adding events which were conducted earlier under a group but there is no procedure of doing so apart from filling a form requiring the end date of an event to be after a certain date.

[2020-09-25 01:30] ccarruitero opened #668 "Expose an API for get events information"
I would like to have an api for get event information.

We have an small presentation that we normally do when starts our meetup, and finished the presentation with the meetup agenda.

We were using meetup.com before we moved to community-portal, and we get the event information information from their api. So, I would like to have the same functionality here.

I'm not a wp or a php expert, but I k

[2020-10-08 16:22] Timmaks opened #669 "redirect to the event page where you start the loging after login"
current:
-go to a eventpage (while you are not logged in)
-click "i will attend"
-click log in
-after login you will go to the home page

wish:
- after login go back to the eventpage

[2020-10-16 07:57] #637 closed

[2020-10-18 06:45] greenbrown opened #670 "Failed update event after second edit the page"
I've just created an event in the community portal and failed to save the second edit activity of the meeting zoom link.

My event link: [ https://community.mozilla.org/events/hacktoberfest-bersama-komunitas-mozilla-indonesia/]( https://community.mozilla.org/events/hacktoberfest-bersama-komunitas-mozilla-indonesia/)

how to replicate my case:
1. Create new event
2. Edit start time then save change

[2020-10-20 15:30] Timmaks commented on #665
for people you need to use the search on the people page of the communityportal; https://community.mozilla.org/en/people/?tag=&country=&language=&u=Prathamesh

[2020-11-08 10:36] harshil1712 commented on #670
I am facing the same issue. I am trying to update the event link, but it fails to do so.

[2021-02-27 23:54] alex-mayorga opened #671 "The contrast in the language selection drop-down when creating a new event is not ideal"
![image](https://user-images.githubusercontent.com/649262/109403676-b4a82980-7956-11eb-93dc-d458475a4283.png)

Might be related to usage of an OS dark theme.

[2021-02-28 16:38] gaby2300 commented on #671
Please try with a new profile, maybe it's an addon's fault

El sáb., 27 de feb. de 2021 20:54, alex-mayorga <notifications@github.com>
escribió:

[2021-03-05 04:07] alex-mayorga commented on #671
Not add-on related the same happens in Safe Mode.

Something similar is seen on https://www.bing.com/translator

![image](https://user-images.githubusercontent.com/649262/110065961-4d301680-7d68-11eb-9a1f-c307671f82df.png)

So now I believe this might be a Proton bug...

[2021-03-06 05:02] alex-mayorga commented on #671
It is believed to be https://bugzilla.mozilla.org/show_bug.cgi?id=1692593

[2021-03-06 05:02] #671 closed

[2021-04-13 15:19] bhangad12 commented on #184
[among-us.pdf](https://github.com/mozilla/community-portal/files/6304781/among-us.pdf)

[2021-04-26 09:29] fauzanalfi opened #674 "Spam events in Indonesian spotted"
There are some spam event written in Indonesian spotted in the Portal. Here are some of them:

- https://community.mozilla.org/en/events/game-garang-2/
- https://community.mozilla.org/en/events/poker-online-idn-poker/
- https://community.mozilla.org/en/events/agen-poker-online-idn-poker/
- https://community.mozilla.org/en/events/poker88-adalah-situs-poker-online-terpercaya-2021/
- https://communit

[2021-04-28 11:53] Francescaminelli opened #675 "Report event button missing in certain events"
In certain events the "report event" button is missing.

Screenshot - missing button:
![image](https://user-images.githubusercontent.com/58478550/116399020-bf811c80-a828-11eb-84d8-aaa7280e7afe.png)

Screenshot - button present:

![image](https://user-images.githubusercontent.com/58478550/116399239-feaf6d80-a828-11eb-9127-57bb3080b197.png)

[2021-07-08 14:06] couci commented on #674
This has been resolved, we are looking on blocking IDs or implementing other spam filter options

[2021-07-08 14:06] #674 closed

[2021-07-08 14:10] couci commented on #670
Thanks for reporting, I can also reproduce. I am marking this as p1

[2021-07-08 14:14] couci commented on #666
I can't reproduce this one, it works for me. Do you still face this problem?

[2021-07-08 14:16] couci commented on #665
I believe the general search bar is looking for everything not just people, not sure how it works. @Timmaks is right the best way to search is via the people page.

[2021-07-08 14:18] couci commented on #664
Yes that's because of privacy reasons. The location issue was fixed, do you still have issues with it?

[2021-07-08 14:19] couci commented on #599
@atiqueahmedziad is this still a problem?

[2021-07-08 14:24] #536 closed

[2021-07-08 14:25] #525 closed

[2021-07-08 14:29] couci commented on #483
This is now fixed

[2021-07-08 14:29] #483 closed

[2021-07-08 14:30] #415 closed

[2021-07-08 14:32] couci commented on #385
This is the same as #585

[2021-07-08 14:32] #385 closed

[2021-07-08 14:34] #316 closed

[2021-07-08 14:38] couci commented on #288
But what happens if you go to an event in another time zone? This would confuse things further.

[2021-07-08 14:40] couci commented on #274
This is the same as #602

[2021-07-08 14:42] freaktechnik commented on #274
Not necessarily, 602 seems to talk about single events, while this is a calendar that you can add, similar to for example public google calendars.

[2021-07-08 14:42] couci commented on #257
Search capabilities have been added

[2021-07-08 14:42] #257 closed

[2021-07-08 14:47] couci commented on #233
I am closing this since it's similar to #240

[2021-07-08 14:47] #233 closed

[2021-07-08 14:51] couci commented on #313
This was implemented at https://github.com/mozilla/community-portal/commit/058d3b8d2f2d97b171148396178a750e4ee68c50,

[2021-07-08 14:51] #313 closed

[2021-07-08 14:52] couci commented on #231
We have now public and registered user

[2021-07-08 14:52] #231 closed

[2021-07-08 14:53] couci commented on #230
Closing this one to keep one place for this conversation at #240

[2021-07-08 14:54] couci commented on #211
Switching to p1 as we are focusing more on social media efforts

[2021-07-08 14:56] couci commented on #210
There is no more address on the online meeting only the link for the meeting details.

[2021-07-08 14:56] #210 closed

[2021-07-08 14:57] couci commented on #241
This was fixed

[2021-07-08 14:57] #241 closed

[2021-07-08 14:58] couci commented on #196
But why an online group can't be only in Italy for example?

[2021-07-08 15:03] couci commented on #266
This is related to #184 so I am closing this one. Thanks for reporting.

[2021-07-08 15:03] #266 closed

[2021-07-08 15:23] srishti-nema commented on #666
There was this issue of adding the end date of a particular event after the present date. It works now. Closing this issue. Thanks!

[2021-07-08 15:23] #666 closed

[2021-07-08 15:50] atiqueahmedziad commented on #599
@couci Yes it is. I can't still log it.

[2021-07-08 16:55] Mte90 commented on #288
Well as there was written in the Reps portal, there is the timezone of the event and the timezone of the user.
This solution is not confusing at all.

[2021-07-09 10:31] cseas commented on #664
I see that my profile shows up on the above link now so I'd assume the Public setting doesn't have the bug anymore.

I'll try to bring this to the notice of local Reps around me that they need to set their profile as public to show up in search results. Maybe we can take it up as a notification in the next Reps call too.

Site seems to work as expected now. Thanks!

[2021-07-09 10:31] #664 closed

[2021-07-09 11:33] couci commented on #274
I am not sure what you mean, like a calendar for all events? Are you thinking of something like a button on this page? https://community.mozilla.org/en/events/

[2021-07-09 11:37] freaktechnik commented on #274
All events of a group, like https://community.mozilla.org/en/groups/mozilla-reps-council/?view=events but as an ical file that you can subscribe to.

[2021-07-09 11:39] couci commented on #599
@fiji-flo any ideas why this would be happening? On the admin side, I only see one account with that email. Could this be an issue with auth0 ?

[2021-07-09 11:51] couci commented on #274
got it!

[2021-07-09 13:16] couci opened #680 "HTML elements are broken"
some html elements are broken and the text format doesn't appear as it should
![image](https://user-images.githubusercontent.com/7702955/125083271-7111b900-e0c8-11eb-8e44-c799cf603ac4.png)
**This is how it should look**

![image](https://user-images.githubusercontent.com/7702955/125083345-8dadf100-e0c8-11eb-9bda-f20033f63fda.png)
**This is how it looks now**

There was a fix https://github.com/moz

[2021-07-09 13:19] couci opened #681 "Text breaking in middle of the words"
The text on the profile description breaks a word in the middle making it hard to read

![image](https://user-images.githubusercontent.com/7702955/125083757-10cf4700-e0c9-11eb-8578-adeef203364f.png)

Link to profile: https://community.mozilla.org/en/people/couci/

[2021-07-16 13:33] Mte90 commented on #487
I see an error with the feed links.
Anyway this include users activity not the group events.

[2021-07-17 19:20] JamieSlome opened #682 "Trying to get in touch regarding a security issue"
Hi there,

I couldn't find a `SECURITY.md` in your repository and am not sure how to best contact you privately to disclose a security issue.

Can you add a `SECURITY.md` file with an e-mail to your repository, so that our system can send you the vulnerability details? GitHub suggests that a [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your

[2021-07-17 19:34] MichaelKohler commented on #682
Hi, this certainly is a good idea. For the time being, would you mind sending an email to security@mozilla.org?

[2021-07-17 23:13] JamieSlome commented on #682
@MichaelKohler - please refer to #683. I created this as it will allow our system to automatically send you to the report details + future reports will be sent to you immediately.

[2021-07-26 17:57] Mte90 commented on #680
a page with the issue? so we can see what html tag is missing

[2021-07-26 17:59] Mte90 commented on #243
This should remove you user account with all your meta/fields subscriptions to events and groups.

It is automatic the deletion, instead for GDPR WordPress has support for that but the custom fields of this theme don't integrate with that.
As the removal of GDPR stuff is different from a user deletion this require some changes, so iff you use the WP GDPR stuff you will get the default data.

About

[2021-07-26 18:01] Mte90 commented on #288
If you open that and mark as p2 I can work on this.

[2021-07-28 13:31] couci commented on #680
@Mte90 that's one of the pages we see the issue https://community.mozilla.org/en/activities/contributing-to-common-voice/

[2021-07-28 13:32] couci commented on #288
@Mte90 all yours

[2021-07-28 13:38] Mte90 commented on #680
I don't have the admin access to see what is the html used but I guess that is removing the images and headers.
Can I get the HTML of that section from the backend? So I can do some tests.
To me is more simple to strip html tags like `script` that do a whitelist of tags.

[2021-07-28 13:40] Mte90 commented on #274
Can I get assigned this?
As the plugin we are using generate ical so I need to investigate a bit

[2021-07-28 13:48] couci commented on #274
it's all yours @Mte90

[2021-07-29 10:50] Mte90 commented on #274
And feature added I am not sure if the button link to the feed is in the right place but I added that feature.

[2021-07-29 13:32] Mte90 commented on #487
assign to me please

[2021-07-29 13:33] Mte90 commented on #681
there isn't this text in the profile

[2021-07-29 13:34] Mte90 commented on #675
assign to me please

[2021-07-29 13:34] Mte90 commented on #196
I agree we do events in italian and we specify the country.
True that for some languages that are across languages the situation is different, but there is online option.

[2021-07-29 13:35] Mte90 commented on #211
This can be fixed if we add a plugin like Yoast SEO that generate the opengraph and twitter card.

[2021-07-29 13:36] couci commented on #681
you need to be logged in to see it

[2021-07-29 13:37] Mte90 commented on #240
assign to me please

[2021-07-29 13:38] Mte90 commented on #212
It is the WordPress behaviour as it is not so much advanced, basically doesn't support the google dorks.

[2021-07-29 13:39] Mte90 commented on #287
I think with https://github.com/mozilla/community-portal/pull/687 can be closed as shows the data in ffull 24 hours for everyone with the timezone of the user.

[2021-07-29 13:39] Mte90 commented on #315
Where in campaigns or activities?
Can I have some examples?

[2021-07-29 13:41] Mte90 commented on #334
This is a plugin to add in the website.

[2021-07-29 13:41] Mte90 commented on #506
I don't think that is good to have links as anyone can write there and could be spambot.

[2021-07-29 13:42] Mte90 commented on #602
This https://github.com/mozilla/community-portal/pull/686 create the feed of a group but I was thinking to of a ical off the specific event.
Assign to me please

[2021-07-29 13:50] Mte90 commented on #681
You can assign to me as I already did a pr for that.

[2021-07-29 13:52] Mte90 commented on #675
https://github.com/mozilla/community-portal/blob/a02e9e0fdcd05f5a74b1f0c798335569543510f5/plugins/events-manager/templates/event-single.php#L553

Looking at the code seems that the button it's there only if:

* group assigned
* report email configured
* user is logged

So my guess is that or the group was assigned but there is a check for it or the user wasn't logged.
Without a link to check I thi

[2021-07-29 14:45] Mte90 commented on #240
and also this one is done

[2021-07-29 15:24] Francescaminelli commented on #675
Hi,

I have a couple of other examples of this, if that would be useful.

Events with no "report" button:

https://community.mozilla.org/en/events/ieee-7th-world-forum-on-internet-of-things-wf-iot-2021/
https://community.mozilla.org/en/events/common-voice-july-dataset-ask-me-anything/

[2021-07-29 15:25] Mte90 commented on #675
Both of them are personal events and not of a group so there is a tiny change to that.

[2021-07-30 09:49] Mte90 commented on #173
assign to me please

[2021-07-30 09:50] Mte90 commented on #195
I don't know if it is useful. As it is now the only external links are the social and they ahve already an icon.
The external links are just in campaigns/activities but I don't think that is soemthing very useful.

[2021-07-30 09:50] Mte90 commented on #498
assign to me, I will study with calm about this.

[2021-07-30 09:51] Mte90 commented on #585
assign to me

[2021-07-30 09:53] Mte90 commented on #665
Yes in wordpress the search is global not just for people.
Every search need some changes, like the url of @timmaks.

[2021-07-30 09:53] Mte90 commented on #212
duplicate of https://github.com/mozilla/community-portal/issues/665

[2021-07-30 09:54] Mte90 commented on #668
WOrdpress has the rest api https://community.mozilla.org/wp-json but the events are not exposed.
It is something that I can add but in the meantime if the pr get approved https://github.com/mozilla/community-portal/pull/686 there will be a ics feed for every group.

[2021-07-30 09:56] Mte90 commented on #575
a page with the issue and assign to me.

[2021-07-30 10:24] couci commented on #315
@Francescaminelli can you provide links for @Mte90 ?

[2021-07-30 10:42] #287 closed

[2021-07-30 10:50] Mte90 commented on #575
I did a partial fix or events.
For campaigns I have to study a bit as they are showed based on the order you joined them.

[2021-07-30 11:46] #212 closed

[2021-08-02 12:47] #173 closed

[2021-08-02 12:49] #585 closed

[2021-08-02 12:49] #239 closed

[2021-08-02 12:50] #240 closed

[2021-08-02 12:54] #230 closed

[2021-08-02 12:55] Mte90 commented on #169
Well this is trange as also mozillians or the people portal doesn't have that feature.
Only social networks like twitter or facebook have something like that.
It is something that we need?

[2021-08-02 12:57] Mte90 commented on #581
duplicate of #575

[2021-08-02 12:57] #581 closed

[2021-08-02 13:28] Francescaminelli commented on #315
That is for campaign, It is not a bug but a "nice to have" feature request. This is essentially because we cannot change the size/stile of titles of sections in the campaigns. E.g. [in this example](https://community.mozilla.org/en/campaigns/firefox-foxfooding-campaign/) we would not have been able to change "Step 1: before you start testing" to be in Bold, or in a different font.

[2021-08-09 09:38] couci commented on #680
I still see it broken on the voice page @Mte90

[2021-08-09 11:53] Mte90 commented on #680
The PR was merged but I don't know if the code was deployed on the server.
There are also various PR assigned to another dev that didn't checked all of them.

[2021-08-09 14:26] #169 closed

[2021-08-13 10:21] couci opened #695 "Have a smaller list for events, campaigns and groups in people profiles"
Currently, on people's profile, there is a long list of events and campaigns attended and groups belonging.

Suggesting we minimize them and add a "show all (name)" button as a dropdown.

Example:
![Portal_Getting-Started](https://user-images.githubusercontent.com/7702955/129343152-1fbe8c68-6390-4892-87fe-f8723b4df654.png)

[2021-09-01 14:42] #675 closed

[2021-09-01 14:43] #487 closed

[2021-09-01 14:45] #335 closed

[2021-09-06 14:35] #288 closed

[2021-09-06 14:35] #274 closed

[2021-09-06 14:36] #681 closed

[2021-09-06 14:36] #680 closed

[2021-09-14 08:26] greenbrown opened #698 "Past events failed to be shown after page 3"
Past events are only available for pages 1-3 (at first under past events show has up to 68 pages, but only 3 pages able to open).

<img width="1137" alt="Screenshot 2021-09-14 at 3 14 22 PM" src="https://user-images.githubusercontent.com/49750588/133223037-0580e91d-7ed8-42e3-9dbc-f42497f3004e.png">

How to replicate my case:

1. Open community.mozilla.org
2. Go to the "Events" menu
3. Click sub-me

[2021-09-14 08:41] greenbrown opened #699 "Option for organizer event to export attendee's name & email information"
[Feature Request]

Indonesian community recently had collaborated event with other local community and we're using Mozilla community portal as the main portal as the attendance list.

The hassle came up when we need to collect all attendee's names & emails for the online attendance certificates.

I think it will be so helpful to have the option to export the attendee's name and email access for th

[2021-09-23 16:15] bobreyes opened #700 "Timezone Error"
The "In your timezone" line is a little bit off from the original timings of the event (UTC+8 since I was the one who created it).

![Screen Shot 2021-09-24 at 00 11 23](https://user-images.githubusercontent.com/2232/134544676-fbb2fe03-e87c-4c04-9b33-1e0da9e068f0.png)
![Screen Shot 2021-09-24 at 00 11 32](https://user-images.githubusercontent.com/2232/134544704-c9fc9679-02c4-475e-ada5-034851fe67df

[2021-09-23 16:20] couci commented on #700
@Mte90 can you take a look

[2021-09-24 09:44] Mte90 commented on #700
I will take a look, I did various tests with that and was ok but probably my math skills are not so good 😂

[2021-09-24 09:46] bobreyes commented on #700
Maybe you just need more coffee 😂

[2021-09-24 09:47] Mte90 opened #701 "Duplicate event"
This is a feature request that will help with replicating similar events.

[2021-09-24 15:15] Mte90 commented on #698
This because is not showing at all the past events but still the last events...

[2021-09-24 15:26] Mte90 commented on #698
Ok so the issue is that HTML side the links are right but there is a redirect when the link https://community.mozilla.org/events/?pno=4&view=past is opened.
I see that there is a htaccess rewrite rule that auto append a trailing `/` but I don't have the access for this.

I don't think that is the javascript at https://github.com/mozilla/community-portal/blob/master/js/events.js that add that slash

[2021-09-24 15:38] Mte90 commented on #699
I don't know that is something possible to do.

As there is the GDPR and privacy guidelines I don't think that the Mozilla ones allow to export those information, also to the event owner.

Let's see @couci what can say about it.

[2021-09-25 07:30] irvin commented on #227
notes:
- the issue still exist on personal profile page (not sure why it's closed)
- we use "location" on most of other places (event / group filter) so location is probably better than country/region.

[2021-09-27 11:13] couci commented on #699
I worry what happens if the attendee has chosen not to share their email with logged in users. That is for sure a no-go.
Now I see the value of emailing the attendees of an event but those people need to give the explicit ok that they want to be emailed. Also this should only be limited to event organizers otherwise spammers can massively abuse this.
@MichaelKohler thoughts?

[2021-09-27 11:22] Mte90 commented on #699
Also it is required a way to remove those emails and I think that the organized need to accept some guidelines about the usage of those data.

[2021-09-27 16:00] MichaelKohler commented on #699
I think this is tricky. I would suggest to ask Legal to be sure here. I agree that if the user has chosen to not share the email address, then this should not expose that either. Additionally I would argue that users should be able to opt-out of these exports specifically (it's a difference whether somebody can see my email on my profile, or gets it trough an export IMHO - maybe something along th

[2021-09-27 17:35] irvin commented on #701
this is the feature I use most at the legacy rep portal to duplicate the repeated events.
I expect that a "duplicate" button on the event page or event edit, click it can bring me to the event add page, and pre-fill all columns with the info from the previous one.

[2021-09-28 12:36] couci commented on #211
@Mte90 do you want to take this one since you have an idea about it?

[2021-09-28 12:40] couci commented on #196
I think we should keep it as is since there is a use case for online events haveing location example the Italian community

[2021-09-28 12:40] #196 closed

[2021-09-28 12:53] couci commented on #700
I see a fix from @Mte90 for this. @bobreyes is this now fixed?

[2021-09-29 09:11] Mte90 commented on #700
The code wasn't deployed.
In this repo is not automatically on merge but manually so the fix is not yet on production.

[2021-09-29 09:21] Mte90 commented on #211
well this means install a plugin in the website and I have no access for that, also I don't know policy for that.

[2021-09-29 14:39] #700 closed

[2021-09-29 14:39] #602 closed

[2021-09-29 15:45] Mte90 commented on #369
Now there is the support for ICS

[2021-09-29 17:16] Mte90 commented on #552
They started to implement something to see the data in the WP backend but never finished https://github.com/mozilla/community-portal/commit/64994b7864655e04d51782c513557672e4793f92

[2021-09-29 17:26] Mte90 opened #707 "Add PHPCS with GH Action"
We need to ensure that everything is tested with WPCS and PHPCS on every pull request too.

[2021-09-29 17:30] Mte90 commented on #195
what do you think @couci?

[2021-09-30 09:50] #707 closed

[2021-09-30 12:49] Mte90 commented on #668
https://d-webb.co.uk/2019/05/02/wordpress-events-manager-rest-data/

In this is possible to add that support to rest api, I think that we need to allow just on read only mode.

[2021-09-30 13:11] couci commented on #195
So we can do that as its done in Mozilla's wiki for example
![image](https://user-images.githubusercontent.com/7702955/135461240-b02fa291-c033-4812-941c-ab3d06b61c83.png)
I honestly don't think this is much needed, unless there was a user case in mind when this was made.
@nukeador feel free to reopen this if you feel there is a strong case here.

[2021-09-30 13:11] #195 closed

[2021-10-02 15:59] bobreyes commented on #700
Where do you set the user's (profile) Timezone from the Community Portal?

It is so weird that the timings for events created by other people are correct. But on the events that I created, there is an offset in the timezone.

[2021-10-02 19:45] Mte90 commented on #700
In the profile I don't think that is possible.

The bug is still on the website as the fix wasn't deployed yet.

[2021-10-11 16:48] couci commented on #699
I had a conversation with legal about this and the outcome is yes we can do it, it will require changes in policy and privacy notice but they recommend we find another solution than export. The main concern is what happens with fake events and spams, giving access to info to non trusted parties and what would we do if people abuse that ability what is our action? Taking them out of the platform (e

[2021-10-11 16:50] Mte90 commented on #699
It was one of my first ideas to add in the portal a notification like the day of the event but before there was other things to do.

Anyway I think that is better another ticket to discuss that and close this one.

[2021-10-13 15:24] couci opened #709 "Community building and planning tag doesn't show on profile"
On editing my profile: https://community.mozilla.org/en/people/couci I have chosen the "Community building and planning" tag though it doesn't show on my profile page
![image](https://user-images.githubusercontent.com/7702955/137164051-b22ad638-a367-4149-8c4a-cd8df0360f8a.png)

When I choose other tags they appear
![image](https://user-images.githubusercontent.com/7702955/137164178-84672fbc-2cc5-4

[2021-10-13 16:40] #575 closed

[2021-10-21 15:15] couci commented on #695
This has been fixed

[2021-11-09 17:53] Heyhillary opened #713 "Feature Idea: Event Making Capacity"
Currently Community portal, provides functionality for people to sign up for sessions. Some people on event pages include links to other event platforms for people to sign up, therefore requiring multiple sign-ups. As an event organiser, I find it hard to utilise the tool, as I'm unable to ask attendees questions such as accessibility needs for events. Furthermore, I am apprehensive to add meeting

[2021-11-15 18:07] Sav22999 opened #714 "Bug report: on the profile page all sections (except "Recents") are sorted by remote-recent instead of recent-remote events/activies"
You can see it, for example, on [my profile](https://community.mozilla.org/en/people/sav22999/) -> in "Organized Events" it's shown the first one I've organised instead of the latest one

[2021-11-23 19:20] MichaelKohler opened #716 "Bio/location fields are not shown in public profile"
Even though I have set the bio and location fields to "Public", they do not show up on my public profile in a private browsing window.

![image](https://user-images.githubusercontent.com/330324/143089700-a9f2d27e-7570-4c77-a81f-99c8bc3112fb.png)

![image](https://user-images.githubusercontent.com/330324/143089772-07852f57-219c-406a-822d-aab14f34ec33.png)

[2021-12-16 16:58] Mte90 commented on #698
So on the staging website the issue is not happening https://mozportalstage.wpengine.com/it/events/?pno=2&view=past...

[2021-12-16 17:01] Mte90 commented on #709
This bug doesn't happen on staging https://mozportalstage.wpengine.com/it/people/mte90/...
Seems that on production the last one is not printed.

[2021-12-20 18:35] couci opened #717 "Old campaign events don't show up any more"
I go to https://community.mozilla.org/en/events/ , click past events and I am looking to filter events by campaign. There I don't find the "https://community.mozilla.org/en/campaigns/firefox-foxfooding-campaign/" campaign though there are clearly events from it:
- https://community.mozilla.org/en/events/firefox-foxfooding-campaign/
- https://community.mozilla.org/en/events/mozillacampaign-mozilla-

[2021-12-21 16:50] whimboo opened #718 "Entries in location search criteria are not sorted alphabetically"
Open https://community.mozilla.org/en/people/ and check the location search criteria. Clicking on it will open a popup with countries, but these aren't sorted alphabetically.

[2022-01-05 17:54] Mte90 commented on #717
I see the event of the campaign on https://community.mozilla.org/en/events/?pno=24&view=past

It is really a bug?

[2022-01-06 14:03] couci commented on #717
I think the bug is the fact that the campaign doesn't appear on the campaigns drop-down menu anymore

[2022-01-10 12:03] Mte90 commented on #717
Where there is this dropdown?

[2022-01-10 12:44] couci commented on #717
top right "campaign or activity"
![image](https://user-images.githubusercontent.com/7702955/148767894-344b45b0-714e-4ac2-843f-81895b3ece50.png)

[2022-01-10 14:38] Mte90 commented on #717
So seems that only for "Foxfooding for ios" there is anything. The other 2 in the dropdown have events at same time the campaign name is "Firefox Foxfooding Campaign".

So I guess that there are some data issues, I don't have admin access to check those.

[2022-01-10 14:38] #714 closed

[2022-01-10 14:39] Mte90 commented on #716
In my profile they are showed https://community.mozilla.org/en/people/mte90/ also I see them on your profile https://community.mozilla.org/en/people/mkohler/ (as non logged).

[2022-01-10 19:41] MichaelKohler commented on #716
Definitely wasn't there when I filed, but now it's looking good. So I'm closing this.

[2022-01-10 19:41] #716 closed

[2022-01-13 18:39] Mte90 commented on #698
So with JS disabled the issue is still happening so there are 2 options now, webserver or WordPress.

Webserver doesn't have any rules so the last option is wordpress and is not easy to debug.
I think that with an htaccess rule we can fix the issue without analyze what is happening.
I am not that.

[2022-01-20 18:40] Mte90 commented on #698
Ok I can replicate the bug now on the dev instance so it is something on wordpress side.

[2022-01-23 12:05] MichaelKohler opened #719 "Redirect to event after creating it"
After creating an event I think it would be great if you would get redirected to its detail page, instead of landing back on the event overview.

[2022-01-23 12:06] MichaelKohler opened #720 "Showing upcoming events?"
I just created https://community.mozilla.org/en/events/fosdem-22-mozilla-devroom/, however I noticed that this is not showing up in my profile. Do we not show upcoming events? If so, I think it would be great if we did that.

[2022-01-23 12:18] MichaelKohler opened #721 "Event location is getting emptied when editing"
I created an event and then wanted to update the location info. This is how it looked like:

![image](https://user-images.githubusercontent.com/330324/150677924-c4392fdb-aefc-4189-bc58-0e53d559832f.png)

However, when clicking on the link to edit the location info, all the fields get emptied. This is annoying as I just wanted to do a simple edit.

![image](https://user-images.githubusercontent.com

[2022-02-22 11:34] Mte90 commented on #709
So now happens also on staging https://mozportalstage.wpengine.com/en/people/mte90/
I am on this :-)

[2022-02-23 18:13] Mte90 commented on #251
As the website is built the various image size are not generated, this in an issue that require a lot of changes to use the native wordpress feature so I think that is better to close the ticket is it outside the scope of a legacy software.

[2022-02-23 23:36] craigcook commented on #709
Fixed in https://github.com/mozilla/community-portal/commit/7239064281a32fd126c8ce05fb3df7731a518fa1 and pushed to production.
![image](https://user-images.githubusercontent.com/205591/155427782-14693f8f-33b7-4971-9496-85753d0af010.png)

[2022-02-23 23:36] #709 closed

[2022-02-24 09:54] #698 closed

[2022-02-24 09:54] #718 closed

[2022-02-25 15:10] #251 closed

[2022-02-26 15:46] bobreyes opened #727 "Cannot create new event"
Clicking on "**[organize your own](https://community.mozilla.org/en/events/edit-event/?action=edit)**" from https://community.mozilla.org/en/events/ leads to Error 404 (Page Not Found) at https://community.mozilla.org/en/events/edit-event/?action=edit

![Screen Shot 2022-02-26 at 23 44 37](https://user-images.githubusercontent.com/2232/155849419-dfab2149-0fa4-4337-b84f-cdf1d2cbc9c0.png)

[2022-02-26 17:17] Mte90 commented on #727
I am wondering of the changes of the other day create this issue. I will check in the next days.

[2022-03-01 17:07] JuanVqz commented on #701
if we can get it back, will be awesome :+1:

[2022-03-01 17:50] Mte90 commented on #727
yes the bug is just in edit window and I am not able to understand where is the bug.

[2022-03-02 11:37] Mte90 commented on #727
I am trying to find a bugfix but the issue is happening only on production and not on staging and in my dev environment.
It seems that if I disable the event list with the page `events` now is working again but with the caching system in production is very difficult to do debug that issue. I am not sure at every test if there is the cache or not as example.

Maybe I have to set the website in main

[2022-03-02 17:52] Mte90 commented on #727
Seems that with the bad manners I was able to fix it :-)

[2022-03-02 17:52] #727 closed

[2022-03-02 18:14] JuanVqz commented on #727
you are right! it's fixed, thank you!

[2022-03-03 15:04] couci opened #729 "I will attend button doesn't work"
When trying to click the "I will attend" button on an event page nothing happens.

[2022-03-03 16:08] Mte90 commented on #729
So I tested and works, I need to know what is the event.

[2022-03-07 07:32] bobreyes commented on #729
Experienced the same with https://community.mozilla.org/en/events/mozilla-reps-asean-meetup-2022/ today.

[2022-03-09 15:25] Mte90 commented on #729
In this ticket is not possible to replicate, I think that the issue happens with events that defined a expire date too much earlier.
Maybe with events created after the last update.
To work on this I need some other cases.

[2022-03-10 11:15] Mte90 commented on #670
This bug is happening again?
Can I have a test?

[2022-03-10 11:16] Mte90 commented on #720
I see that is in the organized events list in the profile https://community.mozilla.org/en/people/mkohler/
There is the issue that recent events is not ordered...

[2022-03-10 11:20] Mte90 commented on #334
As today the l10n system was never used so this can be closed and maybe also the wpml integration can be removed...

[2022-03-10 11:20] #334 closed

[2022-03-10 11:33] Mte90 commented on #599
The problem is still happening? @atiqueahmedziad?
This is a wp issue, it is trying to create an user but already exists in the wp db so maybe in the meantime the plugin for oauth fixed the issue.
This is something that I can fix by removing the old user or altering the db in production but I need another test as the last one was an year ago.

[2022-03-10 11:34] Mte90 commented on #345
The design doesn't allow so much long text the only solution to not change the theme is change the text in that page.

[2022-03-10 11:35] Mte90 commented on #719
What is the destination page of an event and the one you want?
Just to document it as example so I can work on this.

[2022-03-11 11:25] MichaelKohler commented on #720
Mh, not sure why it didn't show up. I just created an upcoming test event and it is shown in "Organized events" now. Not perfect naming, as it also shows upcoming events, but that's probably fine. Closing this one then..

[2022-03-11 11:25] #720 closed

[2022-03-14 16:14] couci commented on #729
@Mte90 do you think that this happens to only events that their start date has passed? If yes then can we debug it for those?
I see two cases:
- if both start and end date passed then the button should be "I attended" and be added at events
- if the start date passed but the end date didn't, then the button should remain I will attend. Example of this case where I can reproduce: https://community.

[2022-03-14 16:24] couci commented on #670
I can't reproduce, I am now able to edit an old event as many times as I want

[2022-03-14 17:09] #670 closed

[2022-03-15 14:14] Mte90 commented on #729
There is a setting in the backend area that define the date where is possible to join the event.
As example in this one is
![immagine](https://user-images.githubusercontent.com/403283/158396976-81bce866-dca9-4ecb-805b-92f950f409b1.png)
So as this date is already over is not possible to attend the event.
My guess is that new events created after the last updates have this value set with the opening

[2022-03-15 14:42] Mte90 commented on #729
I asked to the plugin support how to do it because as reading the code I don't find anything helpful https://wordpress.org/support/topic/force-a-specific-event_rsvp_date-with-an-hook/

A solution could be that only new event will have the right date set automatically for this field but not the previous ones. So I am looking for something that we can apply everywhere to avoid those cases.

[2022-03-25 17:05] Mte90 commented on #729
I should be able to fix it :-)

[2022-03-31 14:11] Francescaminelli commented on #729
Hi @Mte90 there is still a problem with past events, we cannot sign in if they have already started.

[2022-03-31 14:13] Mte90 commented on #729
Can I have some examples?

[2022-04-04 10:39] Mte90 commented on #729
Yes it is not possible to attend an expired event.
The last changes let to attend the event until the end but for the past with the issue right now this means modify a parameter in the wordpress backend area in every event with the issue to a future date, so people can attend them.
The ideal solution it is not to show the "I will attend" button on past event to avoid confusions.

[2022-04-04 13:36] couci commented on #729
But the problem doesn't appear only to events that are running but to also events that are starting soon or to events that run for days

[2022-04-04 13:47] Mte90 commented on #729
@couci I fixed the issue for attend events a week ago, so if it is still happening I need examples...

[2022-04-04 14:56] couci commented on #729
Example: https://community.mozilla.org/en/events/this-is-a-test/ I created this one. It starts in 20 min so logically I should be able to attend. Still @Francescaminelli tried and the "I will attend button" doesn't work

[2022-04-06 07:31] atiqueahmedziad commented on #599
@Mte90 yes, this is still happening.

[2022-04-06 08:37] Mte90 commented on #599
Can you write to me privately as you are the only one with that issue so my guess is that your user on the portal have some issues.

[2022-04-06 10:30] Mte90 commented on #729
So I created this event https://community.mozilla.org/en/events/this-is-a-test/ from the frontend an I am able to attend it. Someone can test it too?

About past events attending the plugin require a date right now I use the last end date or we can put an year after as date as example but we can remove/ignore that feature.

[2022-04-06 10:47] MichaelKohler commented on #729
Both clicking that I will attend as well as "unattending" after that worked for me.

That is great to know. I think we should change it to allow for some time after the event. Maybe a year in the future is too much, but I will let Francesca and Konstantina define that. I would say 6 months would be nice.

[2022-04-06 10:49] Mte90 commented on #729
So I need a list of events where it isn't happening to understand what is happening (maybe created by different people).

Let's see Francesca/Konstantina says about the expire date.

[2022-04-06 12:40] Francescaminelli commented on #729
Hi, Daniele, thank you very much for this. We think one month should be enough time :)

[2022-04-12 14:34] Mte90 commented on #729
So to move on I need to have events with the issue now as I am not able to replicate the attending issue so I can deploy the code that lock the attending after a month.

[2022-04-12 16:13] Francescaminelli commented on #729
Hi Daniele, this has the issue: https://community.mozilla.org/en/events/this-is-another-test/

[2022-04-15 15:13] Mte90 commented on #729
So in my tests now works.

[2022-04-15 15:59] couci commented on #729
Amazing!
Just one feature request, is it possible if the beginning date has passed for the button to change to "I attended "

[2022-04-28 15:19] MichaelKohler commented on #729
@Mte90 Thanks for working on this. What is the current status? I just tried it with today's Reps call event, and I couldn't click the button after 15:00 UTC (of course I was once again late).

[2022-04-29 14:58] Mte90 commented on #729
Link of the event? The code working right now uses 1 month after the date https://github.com/mozilla/community-portal/blob/master/functions.php#L259 with a patch to the event plugin or otherwise is not possible.

So I need the event with the issue because it is just incosistency with DB stuff and that patch should ignore that setting, so without cases to investigate I can't do so much.

[2022-04-29 16:12] Mte90 commented on #729
So I tried again patching the plugin because seems that my old patch doesn't work anymore.

As we are using the free version their support is not helpful as this require some changes in their plugin. I don't have time anymore to work on this problem.
The problem started when we updated the plugins in the website after 6 months as there was some security issues and they changed some stuff about the

[2022-05-12 15:29] couci commented on #729
adding @craigcook here for visibility

[2022-05-30 09:22] Francescaminelli opened #736 "/people page does not open"
The /people page cannot be reached.  A message saying "There has been a critical error on this website." will appear instead.

1. [Click on this link](https://community.mozilla.org/en/people/), or on "people" in the community portal menu
2. A white page appears, after a while the "there has been a critical error" message will appear

![image](https://user-images.githubusercontent.com/58478550/1709

[2022-05-30 09:29] couci commented on #736
I can confirm, @Mte90 any ideas?

[2022-05-30 12:34] Mte90 commented on #736
So the code is a mess and the page crashes because there isn't any cache or code optimization.
From the log infact results fatal error also on loading a single profile...

From the error log outside some spam users created (like on the youtube field there isn't a youtube link because there is any validation...) the websites has issue with all the datas that there are there.

A solution could be en

[2022-05-30 13:39] Francescaminelli commented on #736
Ok, thanks. Let me know what I need to do, exactly

[2022-05-30 13:40] Mte90 commented on #736
I just need an approval as I have to install a plugin and configure it, maybe can create some issue until I don't configure at the best.

[2022-05-30 14:01] Francescaminelli commented on #736
Ok, thank you for this. For sure, approved.

[2022-05-30 15:32] Mte90 commented on #736
So I investigated a bit better now that also with cache doesn't work...

The code of that page is very horrible, basically get all the 18000~ users with all their data but shows only a portion of it and do the filter on this huge list.

I am working to get the page working but I think that we should remove temporally the filters as they will not work after my changes.

[2022-05-30 15:33] couci commented on #736
@Mte90 which filters do you mean?

[2022-05-30 16:17] couci commented on #736
Thanks @Mte90. Is there a way to re-add the filters? Especially the search people part

[2022-05-30 16:26] Mte90 commented on #736
Oh yes needs to be rewritten all the code in that page...
But I have no time to fix other issues like attend an event so this one has less priority...

[2022-06-09 12:20] Francescaminelli opened #739 "Cannot add images to events"
- Create event
- Try to add image from computer
- Cannot add image and a sentence in red appears (see screenshot)

![image](https://user-images.githubusercontent.com/58478550/172845315-1d6fb7cf-d0c5-4266-87c0-18d2fa1403ad.png)

[2022-06-16 12:54] Francescaminelli opened #740 "Cannot add images to an event"
When trying to add images to an event this message appears:

![image](https://user-images.githubusercontent.com/58478550/174074176-f7c46471-7237-4b43-a0a8-bdce1139c1f7.png)

[2022-06-16 12:55] Francescaminelli commented on #740
@couci @craigcook for visibility

[2022-06-16 12:58] Francescaminelli opened #741 "Cannot see past event further than the first page"
- go to the events page
- Click on "past events"
- the first page with most recent past events  will appear
- Click on page 2 to see more past events
- The "current events" second page will appear

[2022-06-16 14:10] couci commented on #741
I cannot reproduce, the older events appear for me, could you try again and see if you are getting the same bug?

[2022-06-16 14:13] couci commented on #740
I can reproduce, it feels like a plug in is missing, @Mte90 was it you playing around?

[2022-06-16 14:35] craigcook commented on #740
This error is referencing a disallowed plugin that was removed by WPEngine. Those files seem to be remnants generated by the plugin. I've removed them and was able to upload an image, maybe this is fixed.

[2022-06-16 14:36] Mte90 commented on #740
I didn't knew that WPengine doesn't allow it... sorry for the trouble

[2022-06-16 14:45] craigcook commented on #740
Looks like they don't allow some caching plugins because they conflict with their own caching systems.
https://wpengine.com/support/disallowed-plugins/#Caching_Plugins

[2022-06-16 14:48] craigcook commented on #739
This is a duplicate of #740

[2022-06-16 15:16] Francescaminelli commented on #741
I can still reproduce:

- Past events: https://community.mozilla.org/en/events/?view=past&country=all
- Go here and click on 2 (screenshot)

![image](https://user-images.githubusercontent.com/58478550/174102973-690a0fcc-3bf9-4d22-8f0d-1c68beae2c28.png)

- This is the page where I land (which is the second page of "current events") https://community.mozilla.org/en/events/?pno=2

[2022-06-30 17:26] MichaelKohler opened #743 "Visibility settings do not work anymore"
I have several fields' visibility set to "public":

![image](https://user-images.githubusercontent.com/330324/176739836-d012f90c-6f46-4471-a256-78f86f2e9bba.png)

![image](https://user-images.githubusercontent.com/330324/176739438-b2e8e9c2-61e5-43d3-8b25-7258aa22aa7f.png)

However, on [my profile](https://community.mozilla.org/en/people/mkohler), only the nickname, location and the campaigns show

[2022-06-30 17:29] MichaelKohler opened #744 "Profile picture not working"
I have set a profile picture:

![image](https://user-images.githubusercontent.com/330324/176740196-15069e3d-fa37-4a49-9fb9-33b5182e2c5d.png)

However, the profile picture does not get rendered, no matter if I'm logged in or not:

![image](https://user-images.githubusercontent.com/330324/176740425-9b056a28-db52-4092-afb1-325880a5e658.png)

[2022-06-30 17:30] MichaelKohler commented on #743
I have also just noticed that the following fields also do not show up when logged in:

* First name
* Last name
* Pronouns
* Bio
* Email
* Social Links
* Communication & Interests

[2022-07-05 10:17] couci commented on #743
I can confirm, same happens with [my profile](https://community.mozilla.org/en/people/couci/)
@Mte90 any ideas?

[2022-07-05 14:51] Mte90 commented on #743
It happens also with mine...
I have no time now to work on this...

[2022-07-12 07:52] Mte90 commented on #729
That event doesn't exists.

Anyway I think that at this point as this project is very difficult to manage I think that the easy way should be patch the Event manager plugin directly instead like adding a filter as I did to use in this theme.

[2022-07-12 15:23] Francescaminelli opened #745 "Single Groups pages are not openinig anymore"
When clicking on single groups in the Community Portal, you will receive a 404 error message. Examples:

https://community.mozilla.org/en/groups/codezilla
https://community.mozilla.org/en/groups/mozilla-punjab

[2022-07-12 15:53] craigcook commented on #745
This is fallout from disabling WPML (a plugin that was previously adding the /en/ redirect). Working on a fix.

[2022-07-13 01:00] craigcook commented on #745
Links should be working again. Sorry about that.

[2022-07-13 01:00] #745 closed

[2022-07-13 09:04] Mozinet-fr commented on #729
This event **no longer** exists. It still existed on Monday, with the above message. Anyway, many events seem to be gone.

[2022-07-13 11:02] Mte90 commented on #729
What means to be gone? that was deleted or there are issues and events are disappearing?

[2022-07-13 13:26] Mozinet-fr commented on #729
The event dashboard is almost empty for me.
![Screenshot 2022-07-13 at 13-22-05 Dummy Page-red](https://user-images.githubusercontent.com/8845401/178744400-e609f957-4c06-4349-8f08-9b52ae531ac4.png)

[2022-07-13 14:36] Mozinet-fr commented on #729
I don't know if it's a different thing or if the event problem is getting worse and worse. I can't tell if it's a database problem or a display problem. In any case, the dashboard was full of events last Monday, at least.

[2022-07-15 15:39] reemhamz opened #746 "Accessibility: Bad color contrast on hyperlinks in Localize Mozilla page"
On the [Localize Mozilla page](https://community.mozilla.org/en/activities/localize-mozilla/), the hyperlinks (notably `Get Started`) have bad color contrasts with the background of the link being nearly similar to the text, providing poor accessibility.

Also, we should remove the space between `Get started` and `!`.

### Suggestion:
- Remove colorful background on hyperlink, or
- change backgrou

[2022-07-18 09:59] Mte90 commented on #729
If they are drafts they are not showed on frontend, the status should be published.
It is something that is the case to track in another ticket.

[2022-07-18 09:59] Mte90 opened #747 "It's worse now. We have [an event on July 25](https://community.mozilla.org/en/events/french-communication-meeting-2022-07-25/) that is marked as "Event expired"."
It's worse now. We have [an event on July 25](https://community.mozilla.org/en/events/french-communication-meeting-2022-07-25/) that is marked as "Event expired".

_Originally posted by @Mozinet-fr in https://github.com/mozilla/community-portal/issues/729#issuecomment-1180738060_

[2022-07-18 10:20] Francescaminelli commented on #729
Adding more events in screenshots as examples. As far as I can tell, all future events have been marked as draft:
![image](https://user-images.githubusercontent.com/58478550/179491842-de445df9-30b1-49e9-a30e-440b1f892eec.png)

[2022-07-20 14:09] siddhartharao17 commented on #744
Same issue persists for me too

[2022-08-26 17:40] Francescaminelli opened #748 "Events do not appear in People profiles"
When I check a profile, I can only see the campaigns that a person has participated in, but not the events. I can see both on my own page, but not anywhere else.

Example: https://community.mozilla.org/en/people/couci/

[2022-08-26 17:41] Francescaminelli commented on #748
@Mte90 @craigcook

[2022-08-26 17:54] MichaelKohler commented on #748
I think this is a duplicate of #743. Initially I thought it's only an issue when being logged out, but it seems that even "logged in" visibility does not work.

[2022-08-31 14:31] Francescaminelli commented on #729
It is not possible (again) to sign in to an event (even in the future).

Example, of our Community Call: https://community.mozilla.org/en/events/community-call-01-09-2022/#em-booking

After clicking on "I will attend" nothing happens

[2022-09-20 21:19] gene1wood opened #749 "Strip EXIF data from profile pictures on upload"
When any user uploaded their profile picture and if they upload an image with EXIF metadata on it, it isn't stripped. This can lead to disclosure of location where photo was taken or other personal information by the photo uploader, as anyone can download the image and check the metadata if the user comments anywhere where the profile will be reflected.

# Steps To Reproduce

Upload the image whic

[2022-11-14 13:23] couci commented on #749
@craigcook is that something we can do easily?

[2022-11-25 16:24] dannycolin opened #750 "Unable to load newsletter form with uBO Fanboy’s Annoyance list enabled"
**Step to Reproduce**

1. Install uBlock Origin (uBO)
1. Open uBO dashboard
1. Go to *Filter lists*
3. Add "Fanboy’s Annoyance" list
4. Go to https://community.mozilla.org/en/newsletter/

**Actual Behavior**

The main content / newsletter form doesn't load
![image](https://user-images.githubusercontent.com/7339076/204024692-b810077c-a2f4-4f56-baad-be06be3233b7.png)

**Expected Behavior**

Main con

[2022-11-28 14:01] couci commented on #750
Hey @dannycolin I think this happens because of the word "subscribe". As I can see here https://easylist.to/easylist/fanboy-social.txt it's part of the general blocking rules, so it makes sense for the content to be blocked

[2022-11-28 15:15] dannycolin commented on #750
Oh good catch! I'd have thought that by "annoyance" it'd have been limited to popups and the like, and not broad rules like that.

I'll close this since it's more an easy with the list rules itself than the community portal.

[2022-11-28 15:15] #750 closed